@font-face {
  font-family: "franklin";
  src: url("./fonts/franklin-normal-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "franklin";
  src: url("./fonts/franklin-normal-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "franklin";
  src: url("./fonts/franklin-normal-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "franklin";
  src: url("./fonts/franklin-normal-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "franklin";
  src: url("./fonts/franklin-normal-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
