html,
body {
  font-family: Inter, "Inter", sans-serif;
  background-color: #ff1744;
  color: #ffffff;
  user-select: none;

  /* Prevents the Safari webpage swiping. */
  touch-action: none;

  padding: 0;
  margin: 0;
}

.timer-number-container span {
  flex: 0 0 18px;
  display: block;
  text-align: center;
  height: 38px;
}

.timer-number-container-segment span {
  flex: 0 0 12px;
  display: block;
  text-align: center;
  font-weight: 400;
}

.action-button {
  width: 100%;
  height: 62px;
  padding: 12px 32px;
  border-radius: 12px;
  background: #c2002e;
  margin: 6px auto 12px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 6px 0px #9f000042;
  transition: 100ms all ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.action-button:disabled {
  background: #c2002e;
  box-shadow: none;
  opacity: 0.5;
}

.action-button:active {
  background: #a30026;
  transform: scale(0.98);
}

.action-button:active:disabled {
  background: #c2002e;
  transform: scale(1);
  box-shadow: none;
  opacity: 0.5;
}

.action-idle-button {
  width: 100%;
  height: 62px;
  padding: 12px 32px;
  border-radius: 12px;
  background: #ffffff;
  margin: 6px auto 12px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #030303;
  border: 2px solid #ebeef1;
  transition: 100ms all ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.action-idle-button:active {
  background: #ebeef1;
  transform: scale(0.98);
}

.action-idle-button:disabled {
  background: #ebeef1;
  color: #030303;
  opacity: 0.5;
}

.action-idle-button:active:disabled {
  background: #ebeef1;
  color: #030303;
  transform: scale(1);
  opacity: 0.5;
}

.slide-in {
  animation-duration: 200ms;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  animation-duration: 400ms;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.new-select-slidedown {
  border-radius: 8px;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;

  animation-duration: 300ms;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slidedown {
  from {
    transform: translateY(-70px);
  }

  to {
    transform: translateY(0);
  }
}

.new-select-fadein {
  border-radius: 8px;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;

  animation-duration: 300ms;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*
  transform: translateY(70px);
  transition: transform 300ms ease;
*/

.completed-segment {
  animation-duration: 200ms;
  animation-name: completedsegment;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes completedsegment {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.95);
    opacity: 0.5;
  }
}

.queued-segment {
  transform: scale(0.95);
  opacity: 0.35;
}

.running-segment {
  transform: scale(0.95);
  opacity: 0.5;

  animation-duration: 200ms;
  animation-name: runningsegment;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes runningsegment {
  from {
    transform: scale(0.95);
    opacity: 0.5;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
